node_modules

/.cache
/api
/build
/public
/public/build
/assets/fonts/
/assets/images/
/assets/css/*.css
/assets/css/reset.min.css
/app/**/**/**/**/**/*.css
.env

.DS_STORE

.eslintcache
yarn-error.log