node_modules

/.cache
/api
/build
/public/build
/assets/fonts/
/assets/images/
/assets/js/*.js
/assets/css/*.css
/app/**/**/**/**/**/*.css
.env

.DS_STORE

.eslintcache
yarn-error.log
yarn.lock
dockerfile